### <font color="brown">Problem Set 1: Python Basics</font>

There are some rules and recommendations for how to name variables (including function names) in Python. I asked ChatGPT for these. It generated a list, which I wanted to put in table form, which then required one more prompt to get it exactly right.

<img src="varnames-prompt1.png" width=650px;>

<img src="varnames-prompt2.png" width=650px;>

<img src="varnames-prompt3.png" width=650px;>

Following is the HTML code that it generated, which I copied into a markdown cell.

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>Rule/Recommendation</th>
      <th>Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <strong>Allowed Characters</strong><br>
        Names can only consist of letters (<code>a-z</code>, <code>A-Z</code>), digits (<code>0-9</code>), and underscores (<code>_</code>). Names cannot start with a digit.
      </td>
      <td>
        <code>valid_name = 42</code><br>
        <code>_hidden_value = 10</code><br>
        <code>2nd_place = "Error"  # Invalid</code>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Case Sensitivity</strong><br>
        Names are case-sensitive: <code>myVar</code>, <code>MyVar</code>, and <code>myvar</code> are all distinct.
      </td>
      <td>
        <code>myvar = 1</code><br>
        <code>MyVar = 2</code><br>
        <code># 'myvar' and 'MyVar' are distinct</code>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Cannot Be a Reserved Keyword</strong><br>
        Python reserved keywords like <code>if</code>, <code>class</code>, and <code>def</code> cannot be used as names.
      </td>
      <td>
        <code>def = 10  # Invalid</code><br>
        <code>if = "yes"  # Invalid</code>
      </td>
    </tr>
    <tr>
      <td>
        <strong>No Special Characters or Spaces</strong><br>
        Names cannot contain spaces or special characters like <code>@</code>, <code>#</code>, <code>$</code>, etc.
      </td>
      <td>
        <code>my variable = 10  # Invalid</code><br>
        <code>my#var = 10  # Invalid</code>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Length</strong><br>
        There is no explicit length limit, but overly long names are discouraged for readability.
      </td>
      <td>
        <code>super_long_variable_name_that_is_unreadable = 42</code><br>
        <code># Discouraged for readability</code>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Descriptive Names</strong><br>
        Choose names that clearly describe the purpose of the variable or function.
      </td>
      <td>
        <code>counter = 0</code><br>
        <code>calculate_total()</code>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Use Snake Case for Variables and Functions</strong><br>
        Use lowercase letters with words separated by underscores.
      </td>
      <td>
        <code>my_variable = 10</code><br>
        <code>calculate_sum()</code>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Constants in All Caps</strong><br>
        Use all uppercase letters with underscores for constant values.
      </td>
      <td>
        <code>MAX_LIMIT = 100</code><br>
        <code>PI = 3.14159</code>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Avoid Single Letters Except for Temporary Variables</strong><br>
        Avoid single-character names like <code>x</code> or <code>y</code> unless they are used as temporary variables.
      </td>
      <td>
        <code>for x in range(5):</code><br>
        <code>&nbsp;&nbsp;&nbsp;print(x)</code>
      </td>
    </tr>
    <tr>
      <td>
        <strong>No Starting or Trailing Underscores (Unless Needed)</strong><br>
        Avoid names starting or ending with underscores unless they have a special purpose (e.g., private variables or magic methods).
      </td>
      <td>
        <code>_private_variable = 42  # Used for internal purposes</code><br>
        <code>__special_method__ = 10  # Reserved (e.g., __init__)</code>
      </td>
    </tr>
    <tr>
      <td>
        <strong>CamelCase for Class Names</strong><br>
        Use PascalCase (UpperCamelCase) for naming classes.
      </td>
      <td>
        <code>class MyClass:</code><br>
        <code>&nbsp;&nbsp;&nbsp;pass</code>
      </td>
    </tr>
  </tbody>
</table>

<imr src="varnames-prompt1.png" width=600px;>

---

#### Problem 1:

Given the value of x, compute and print the values of following. Use formatting with f-string wherever convenient:
1. Cube of x
2. The remainder when divided by 4
3. The integer quotient when divided by 5
4. Expression to determine whether x is greater than 15 and less than 25. Print the resultant value.
5. Check if x is equal to the value of x as string. Eg: if 3 and "3" are same.  

All the above values should be printed in the following form: <br>
"Problem: Value"
For e.g.: "Cube of 10: 1000"

In [ ]:
x = 18

In [ ]:
# 1.cube = x ** 3
print("Cube of " + str(x) + ": " + str(cube))

In [ ]:
# 2. remainder = x % 4 
print("Remainder of " +str(x) + "when divided by 4 is: " + str(remainder))

In [ ]:
# 3. quotient = x//3 
print(quotient)

In [ ]:
# 4. if x < 25 and x > 15: 
        print(str(x) + "is greater than 15 and less than 25))

In [ ]:
# 5.expression = x == str(x) 
print(expression)

---

#### Problem 2: 

String concatenation and string repetition:

Form a single string using the below given variables: 

"My name is Jim Halpert. My annual salary is $60000 <br>
I am good. I am good. I am good." 

Print the resultant string.

In [1]:
name = "Jim Halpert" 
salary = 60000
string = "I am good. "
age = 35

In [2]:
# Solution
print("My name is " + name + ". My annual salary is $" +str(salary) + string + string +sting )

---

#### Problem 3:

String Methods

<b>Note: All string methods return new values. They do not change the original string.</b>

You can get ChatGPT to give you a rundown on string methods (which will do in a subsequent lecture), but it's good to also know of other sources of information (after all ChatGPT mines existing online information) such as the following:

Reference: https://www.w3schools.com/python/python_ref_string.asp

In [ ]:
string = "Hello! How are you? It has been quite some time. Last time I saw you was in California."

Given the following input string, perform the following:
1. Print the length of string
2. Occurrence of substring "time"
3. Check if substring "California" and "New York" occur in string
4. Convert string to uppercase
5. Find the index of '!' in the string
6. Check is there are any digits in the string

In [3]:
# Solution
1. 
string = "Hello! How are you? It has been quite some time. Last time I saw you was in California."
length = len(string)
print(length)
2. 
amountOfOccurence = string.count("time")
3. 
isCalifornia = "California" in string
isNewYork = "New York" in string
4. 
upperString = string.upper()
print(upperString)
5.

87
HELLO! HOW ARE YOU? IT HAS BEEN QUITE SOME TIME. LAST TIME I SAW YOU WAS IN CALIFORNIA.

5.0

---

#### Problem 4:

The function "calculate_average" takes in three integers and returns their average. Complete the function definition to calculate the average. Print the value of average inside the function. Also, print the data type of computed average inside the function.

In [ ]:
def calculate_average(a, b, c):
    # Complete function definition here
    sum = a + b + c
    average = sum / 3
    return average

---

#### Problem 5:

Write a function to compute the area of the circle given radius r. Use a default value of 5 for the radius. Use the value of Pi from the math module.

In [ ]:
# Solution 
import math
def areaOfCircle(r = 5):
    areaCir = math.pi * (r**2) 
    return areaCir

---

#### Problem 6: 

Create a function that takes in the student id, age, name, and grade of the student, and prints all these values. If the grade is missing, the function should display the grade as 'B'. If the age is missing, the function should display the age as 18.

In [ ]:
# Solution 
def student(studentId, studentAge = 18, studentName, studentGrade = 'B') :
    print("Student ID: " , studentId)
    print("Student Age: " , studentAge)

---

#### Problem 7: 

1. Create a function "calculate()" that takes in two integers (a,b). The function should return a plus b, a minus b, a multipled with c, and a divided by b. Note: If b is zero, it will result in "Divide by zero error".  <br>
2. Write a function call with sample values of a and b. Print the results from the function call.

In [ ]:
# Solution 
def calculate(a , b)
    add = a + b
    sub = a - b
    mul = a * b
    div = a / b
    if b = 0 then

---

#### Problem 8:

Write a function to check if a number is in a particular range (a,b), with a default range of 0..100 <br>

In [ ]:
# Solution